@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --font-family: 'PT Sans', sans-serif;
    margin-left: 3rem;
    margin-right: 3rem;
}

span.h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

text.legendtext {
    font-weight: bold;
}

div.taipy-chart {
    margin-top: 1rem;
}
